body{
    font-family: Arial;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
}
.todo-print, .input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    height: 40px;
    align-items: center;
}
.todo-print{
    margin-top: 15px;
    margin-left: 10px;
}
.input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.input-box, .js-date{
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
.add-btn, .delete-btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.delete-btn{
    background-color: red;
    width: 80px;
    height: 30px;
}